.editor-header{
    width: 100%;
    display: flex;
}

.editor-header button{
    margin-left: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.editor-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
}

.editor-form{
    width: 80%;
}

.editor-form input, .editor-form textarea{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.editor-form textarea{
    height: 60vh;
}