<div class="editor-header">
    <h1>Note</h1>
    <button (click)="onClick()">{{button_name}}</button>
</div>

<div class="editor-container">
    <div class="editor-form">
        <div class="input-block">
            <label for="title">Title</label>
            <input type="title" [(ngModel)]="title" placeholder="Title">
        </div>

        <div class="input-block">
            <label for="content">Content</label>
            <textarea [(ngModel)]="content" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
    </div>
</div>

<!-- <label for="title">Title</label>
<input type="text" [(ngModel)]="title" placeholder="Title"> <br>

<label for="content">content</label>
<textarea [(ngModel)]="content" placeholder="Content" cols="30" rows="10"></textarea>

<button (click)="onClick()">{{button_name}}</button> -->