#notebook-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

.notebook{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid black;
}

.notebook .title,.notebook .description, .notebook .note-count, .divisor{
    grid-column: 1 /span 2;
}

.notebook .title{
    margin-bottom: 10px;
}

.notebook .title a{
    text-decoration: none;
    color: black;
}

.notebook .action{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.notebook .action a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.notebook .note-count{
    display: flex;
    justify-content: flex-end;
}

.notebook .divisor{
    margin-bottom: 10px;
}

.create-button-block{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.create-button-block .create-button, .logout-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    margin-left: auto;
}

.logout-button{
    margin-left: 10px;
    background-color:orangered;
    cursor: pointer;
}

.create-button-block .create-button:hover, .logout-button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 800px){
    #notebook-container{
        grid-template-columns: 30% 30% 30% ;
    }
}

@media screen and (max-width: 500px){
    #notebook-container{
        grid-template-columns: 40% 40%;
    }
}

@media screen and (max-width: 375px){
    #notebook-container{
        grid-template-columns: 90%;
    }
}